# Application configuration

CONFIG_DEVICE_PB_PIN=13
CONFIG_DEVICE_LR_PIN=17
CONFIG_DEVICE_LG_PIN=18
CONFIG_DEVICE_MICROPHONE_WS_PIN=14
CONFIG_DEVICE_MICROPHONE_SCK_PIN=16
CONFIG_DEVICE_MICROPHONE_DATA_PIN=15
CONFIG_DEVICE_SPEAKER_WS_PIN=3
CONFIG_DEVICE_SPEAKER_SCK_PIN=2
CONFIG_DEVICE_SPEAKER_DATA_PIN=1

CONFIG_DEVICE_NETWORK_CONNECT_ATTEMPTS=5
CONFIG_DEVICE_CONFIG_ENDPOINT="http://iotsupport.home/esp32/config/%s.json"
CONFIG_WIFI_SSID="Thing-Fish"
CONFIG_WIFI_CONNECT_ATTEMPTS=5
CONFIG_WIFI_MAX_TX_POWER=44
CONFIG_OTA_ENDPOINT="http://iotsupport.home/assets/somfy-remote-ota.bin"
CONFIG_LOG_ENDPOINT="http://iotlogging.home/"

CONFIG_MQTT_PROTOCOL_5=y
CONFIG_MQTT_TASK_CORE_SELECTION_ENABLED=y
CONFIG_MQTT_USE_CORE_1=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_MAIN_TASK_STACK_SIZE=4096

# Setup flash

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# I2S

CONFIG_I2S_ENABLE_DEBUG_LOG=y

# SPIRAM

CONFIG_SPIRAM=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y

# CPU speed and power management

CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_AUTO=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
